# --- Core dependencies ---
requests>=2.31.0
pandas>=2.2.0
openpyxl>=3.1.2

# --- Validation (Pydantic v2) ---
pydantic>=2.0,<3.0

# --- PostgreSQL connector ---
psycopg2-binary>=2.9

# --- Slack Bot ---
slack-bolt>=1.18.0
slack-sdk>=3.23.0
flask>=3.0.0
uvicorn
asgiref
gunicorn


# --- Optional utilities ---
python-dotenv>=1.0.0