# Core
requests
pandas
openpyxl
pydantic


# API / Backend
fastapi
uvicorn

# Parsing & Scraping 
beautifulsoup4

# Data handling / JSON
python-dotenv

# Tests 
pytest

# Jupyter notebooks 
jupyter

psychopg2

slack-bot
slack-sdk
python-dotenv
flask
asgiref
gunicorn
